/************************************/
/*              main                */
/************************************/
.inner {
  position: relative;
  width: 95.48%;
  margin-top: 100px;
  margin-right: 4.52%;
}

.inner::before {
  content: "";
  display: block;
  padding-top: 43.95%;
}

.top-service-img {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 20;
  width: 54.54%;
}

.detail {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 10;
  width: 72.72%;
  background-color: #F0F7FC;
}

.detail-inner {
  width: 50%;
  margin: 0 0 auto;
  padding-left: 44%;
}

.inner:nth-of-type(even) {
  margin-right: unset;
  margin-left: 4.52%;
}

.inner:nth-of-type(even) img {
  position: absolute;
  top: 0%;
  right: 0%;
  left: unset;
  z-index: 20;
  width: 54.54%;
}

.inner:nth-of-type(even) .detail {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: unset;
  z-index: 10;
  width: 72.72%;
  background-color: #F0F7FC;
}

.inner:nth-of-type(even) .detail-inner {
  width: 50%;
  padding-right: 44%;
  padding-left: unset;
  margin: 0 0 0 auto;
}

.business-wrapper-3 {
  margin-bottom: 100px;
}


