.section-ttl__1 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 100px;
  }

.top-wrapper-1 {
  position: relative;
  width: 100%;
}

.top-wrapper-1::before {
  content: "";
  display: block;
  padding-top: 38.46%;
}

.top-wrapper-2 {
  position: relative;
  background-color: #F0F7FC;
}

.top-wrapper-2::before {
  content: "";
  display: block;
  padding-top: 386px;
/*  padding-top: 26.80%;*/
}

.top-detail {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: unset;
  bottom:15%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 90;
  width: 72.72%;
  min-height: 365px;
  background-color: #fff;
}

.top-detail-text {
  line-height: unset;
  font-size: 3.2rem;
  padding: 6.94% 10.5%;
  margin: 0 auto;
}

