/************************************/
/*common_1.css                      */
/*全ファイル共通                     */
/*                                  */
/*                                  */
/************************************/
html {
  font-size: 62.5%;
  font-family:'Yu Mincho';
}

body {
  line-height: 1.5;
  word-break: break-all;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  border-color: rgba(0, 112, 233, 30%);
}

.header, .main, .footer {
  width: 1263px;
  margin: 0 auto;
}

.ttl__1 {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 5px;
  margin-bottom: 3.5%;
}

.detail {
  background-color: #fff;
}

.text {
  font-size: 2rem;
  padding: 0 5% 5%;
}

/************************************/
/*              header              */
/************************************/
.header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 16px 0;
}

.header-logo {
  width: 50%;
  display: flex;
  align-items: center;
}

.logo-img {
  padding-left: 2.5%;
}

.header-nav {
  width: 50%;
}

.header-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__list__item {
  font-size: 1.4rem;
  padding: 0 2.5%;
}

.header-nav__list__item a {
  display: block;
  color: #fff;
  line-height: 4.5rem;
}

.header-nav__list__item a:hover {
  color: #000;
  transition: 0.25s;
}

.contact_button {
  border: solid #fff 1.25px;
}

.contact_button:hover {
  border: solid #000 1.25px;
}

.button {
  display: block;
  border-radius: 50px;
  line-height: 2.5rem;
  padding: 0 10px;
  margin: 0 auto;
}

.ttl__2 {
  text-align: center;
  font-size: 2.4rem;
  padding: 5% 0;
  margin: 0 auto;
}

/************************************/
/*              top                 */
/************************************/
.top {
  width: 100%;
  background-color: #F0F7FC;
}

.top-wrapper {
  position: relative;
  width: 100%;
  z-index: 10;
}

.top-wrapper::before {
  content: "";
  display: block;
  padding-top: 65.27%;
}

.top-img {
  position: absolute;
  top: 0;
  width: 100%;
}

.top-wrapper__ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: unset;
  font-size: 6rem;
  color: #fff;
}


/************************************/
/*              footer              */
/************************************/
.footer {
  background-color: #0070E9;
  color: #fff;
}

.footer-wrapper {
  padding: 0 8%;
}

.footer-upper { 
  display: flex;
  align-items: center;
  height: 160px;
  padding-top: 5.18%;
}

.footer-upper-left {
  width: 66%;
  height: 100%;
}

.footer-access-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.footer-img {
  width: 290px;
}

.post-code {
  width: 70%;
  font-size: 2rem;
  line-height: 2.5rem;
}

.address {
  width: 70%;
  font-size: 2.4rem;
  line-height: 2.5rem;
}

.footer-upper-center, .footer-upper-right {
  height: 100%;
  width: 15%;
  
}

.footer-nav__list {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.footer-nav__list__item a {
  color: #fff;
  line-height: 2.5rem;
  font-size: 2.4rem;
}

.footer-under {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16.67%;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 2.82% 0;
}

