/************************************/
/*              main                */
/************************************/
.section {
  padding: 100px 8.68%;
}

.top {
  background-color: unset;
}

.inner {
  width: 89.07%;
  margin: 0 5.46%;
}

.telephone-wrapper {
  background-color: #F0F7FC;
}

.telephone-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.telephone-detail-left {
  text-align: center;
  padding: 6.13% 0;
}

.telephone-detail-right {
  text-align: center;
  padding: 6.13% 0;
}

.telephone-detail-text {
  font-size: 2.4rem;
}

.telephone-detail-number {
  font-size: 4rem;
}

.contact-form {
  width: 100%;
  }

.contact-text-1 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.contact-text-2 {
  font-size: 2rem;
  margin-bottom: 65px;
}

.contact-form__item {
  display: flex;
}

.contact-form-label {
  display: flex;
  align-items: center;
  width: 29.25%;
  height: 55px;
  line-height: 2;
  font-size: 2.4rem;
}

.contact-form-input, .contact-form-textarea {
  box-sizing: border-box;
  border: solid rgba(0, 112, 233, 30%) 1px;
  font-size: 1.5rem;
  width: 70.75%;
  margin-bottom: 2.5%;
}

.contact-form__item input {
  height: 55px;
}

.contact-form__item textarea {
  vertical-align: top;
  height: 110px;
}

.contact-form__btn {
  text-align: center;
}

.contact-form__btn__submit {
  padding: 1.5% 5%;
  background-color: #0070E9;
  margin: 5% 0;
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #fff;
}

